h3 {
    margin: 10px auto;
    text-align: center;
    border: 1px solid #999999;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 1.7rem;
    span {
        color: #ad0028;
    }
}
