@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

:root {
	--accent: #F6AE2D;
	--dark: #2F4858;
	--light: #EBF5EE;
	--border: 3px solid var(--accent);
	--container-height: 160px;
}

body {
	font-family: 'Londrina Solid', sans-serif;
	background: var(--dark);
	color: var(--light);
	letter-spacing: 2px;
	text-align: center;
}

.container {
	width: 45%;
	margin:  0 auto;
	font-size: 1.7rem;
	height: var(--container-height);
	border: var(--border);
}

/* box #1 */
.box-1 {
	display: table;
}
.box-1 p {
	display: table-cell;
	vertical-align: middle;
}

/* box #2 */
.box-2 {
	position: relative;
}
.box-2 p {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	margin: auto;
}

/* box #3 */
.box-3 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

/* box #4 */
.box-4 {
	display: grid;
	align-items: center;
	/* place-items: center; */
}

/* box #5 */
.box-5 {
	display: grid;
}
.box-5 p {
	margin: auto; /* auto 0  */
}

/* box #6  - line-height*/
.box-6 p {
	margin: 0 auto;
	line-height: var(--container-height);
}