html, body {
    font-size: 17px;
    background-color: #666;
    color: white;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway', sans-serif;
}

main {
    background-color: #333;
    border-radius: 5px;
    width: 85%;
    margin: 20px auto;
    padding: 35px 50px;
    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    p {
        color: #e9e9ba;
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .myAudio {
        text-align: center;
        margin: 30px auto;
        ul {
            margin-top: 15px;
            list-style: none;
        }
    }
}