<div class="myContent">
    <ol>
        <li>
            <h1>normal content @Input with set & get called {{$prop}}</h1>
        </li>
        <li>
            <p>normal content Above the projected content...</p>
        </li>
        <li>
            <ng-content select=".anotherProjectedClass"></ng-content>
        </li>
        <li>
            <p>normal content Below the projected content</p>
        </li>
        <li>
            <ng-content select=".myProjectedClass"></ng-content>
        </li>
        <li>
            <p>normal content inputVariable = {{inputVariable}}</p>
        </li>
        <li>
            <ng-content #mycontentchild></ng-content>
        </li>
    </ol>
</div>
