h3 {
    margin: 10px auto;
    text-align: center;
    border: 1px solid #999999;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 1.2rem;
    span {
        color: #ad0028;
    }
}

h2 {
    color: #1a45c5;
}

#projectedContent * {
    color: burlywood;
}