#box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2.6rem;
    text-align: center;
}
#buttonDiv {
    position: fixed;
    bottom: 200px;
}

::selection {
    background-color: #333;
    color: pink;
}
