/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3b3c40;
  color: white;
}
h1, h2, h3 {
  margin: 10px auto;
  padding: 0;
}
.mod {
  min-height: 75p;
  line-height: 35px;
  text-align: center;
  margin: 25px auto;
}
