h2 {
    color: crimson;
}
.playground {
    min-width: 400px;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    border: 1px #dd6464 solid;
    background-color: #666;
    text-align: center;
}