<div class="container-fluid">

    <a [href]="link">Introduction to Angular Routing!!!</a>
    <hr>

    <div class="myLinks">
        <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a [routerLink]="['/about']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</a>
        <a routerLink="/about" routerLinkActive="active-link" routerLinkActive #rla="routerLinkActive">
            ActiveAbout is {{ rla.isActive ? '(ON)' : '(OFF)'}}
        </a>
    </div>
    <hr>

    <div [style.border]="borderGreen ? '4px solid green' : '4px solid crimson'" [style.padding]="'15px'">
        <router-outlet></router-outlet>
    </div>
</div>