<div class="container-fluid">
    <a [href]="link">Introduction to Angular Routing!!!</a>
</div>
<hr>

<nav>
    <ul>
        <li routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li routerLinkActive="activeLink">
            <a [routerLink]="[{outlets: { sidebar: ['about']}}]">About</a>
        </li>
        <li routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/about" routerLinkActive #rla="routerLinkActive">
                ActiveAbout is {{ rla.isActive ? '(ON)' : '(OFF)'}}
            </a>
        </li>
    </ul>
</nav>
<hr>

<div [style.border]="borderGreen ? '4px solid green' : '4px solid orange'" 
     [style.padding]="'15px'"
     [style.border-radius]="myBorderRadius"
     [style.margin]="'20px'"
     >
        <router-outlet></router-outlet>
</div>
<div [style.border]="borderGreen ? '4px solid green' : '4px solid orange'" 
     [style.padding]="'15px'"
     [style.border-radius]="myBorderRadius"
     [style.margin]="'20px'"
     >
        <router-outlet name="sidebar"></router-outlet>
</div>
