extends layout.pug
include mixins/_tableRow

block content
  h4 Using a local variable again here = #{name.charAt(0).toUpperCase() + name.slice(1)}
  table.ui.celled.table.center.aligned
    thead
      tr
        th Avatar
        th First Name
        th Last Name
        th Email
        th Phone
        th City
    tbody
      each employee in employees
        +tableRow(employee)
    tfoot
      tr
        th(colspan='6')