@import '../sass/styles.scss';
@import '~@angular/material/theming';

section {
    width: 100%;
    padding: 15px;
    // margin: 0 auto 15px auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    opacity: .95 !important;

    header {
        text-align: center;
        margin-bottom: 17px;
        @include mat-elevation(17, #e91e63, 0.9);
    }
    mat-slider {
     width: 300px;
    }
}

main {
    background-color: var(--background-secondary);
    border: 3px solid var(--background-tertiary);
    padding: 15px;
    margin: 15px;
}
