<section>
    <header>
      <mat-slider min="1" max="100" step="1" [(ngModel)]="slider1Value"></mat-slider>
      <img width="75" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      <mat-slider tickInterval="1" [(ngModel)]="slider2Value"></mat-slider>
    </header>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (menuClosed)="menuOpened()" [class.mat-elevation-z22]="true">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <button mat-raised-button routerLinkActive="active-link anotherClass" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</button>
    <button mat-raised-button [routerLinkActive]="['active-link', 'anotherClass']" routerLink="/customers">Customers</button>
    <button mat-raised-button routerLinkActive="active-link" routerLink="/orders">Orders</button>
    <button mat-raised-button routerLinkActive="active-link" routerLink="/heroes">Heroes</button>
    <button mat-raised-button routerLinkActive="active-link" routerLink="/not">Not Found</button>
    <button mat-raised-button routerLinkActive="active-link" routerLink="/ngtemplate" title="ngtemplate ...">ngtemplate</button>
    <button mat-stroked-button color="primary" (click)="onClick()">Toggle Theme</button>
</section>

<main>
    <router-outlet></router-outlet>
</main>
