body {
    padding-top: 20px;
    background-color: #333;
    color: white;
    font-family: monospace;
    font-variant: small-caps;
}
#requestsInput * {
    border: 1px solid blue;
    background-color: #333;
    color: white;
}
#results {
    margin-top: 20px;
    padding-top: 5px;
    border: 1px solid #666;
    overflow-y: scroll;
    height: 400px;
    width: 600px;
    background-color: #666;
    font-family: monospace;
}
#results ul {
    list-style-type: square;
}
.result {
    font-size: 1.1rem;
    text-transform: uppercase;
}
.options {
    margin-left: 15px;
}
.options label {
    margin-bottom: 5px;

}
