<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date : 'y'}})</small></h1>
<hr>

<div class="row animated">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
    <br><br>
    <a [routerLink]="['/heroes']" href="#" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p>
      {{heroe.bio}}
    </p>
    <div>
      <img *ngIf="heroe.casa=='DC'; else showMarvel" src="assets/img/dc.jpg" width="50px" alt="">
      <ng-template #showMarvel>
          <img src="assets/img/marvel.jpg" width="50px" alt="">
      </ng-template>
    </div>
  </div>
</div>
