body {
    width: 90%;
    margin: auto;
    background-color: #666;
    color: #feffee;
}
.parallax-window {
	min-height: 300px;
	background: transparent;
    box-shadow: inset 0 0 20px black;
}
h1 {
    text-align: center;
}
p {
    width: 90%;
    margin: 15px auto;
    text-transform: uppercase;
    text-align: justify;
    color: white;
}
