/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(221, 221, 221);
    color: #4ab835;
    border: 1px solid orange;
    margin: 35px;
}   