<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="row animated" *ngIf="!loading">
    <div class="col-2">
        <!-- <img src="" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt=""> -->
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del Artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" type="button" class="btn btn-outline-danger">Regresar</button>

    </div>
</div>
<hr>
<div class="row animated" *ngIf="!loading">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks; let idx=index">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb">
                    </td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <iframe [src]="track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="80" frameborder="0"
                            allowtransparency="true" allow="encrypted-media"></iframe>
                            <!-- "spotify:track:0mUMfBLicWZAHsA1bmzBeb" -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
