<div class="container">
  <br><h1>Pipes</h1>
  <hr>
<div>
  <p>e (no formatting): {{e}}</p>
  <p>e (3.1-5): {{e | number:'3.1-5'}}</p>
  <p>pi (no formatting): {{pi}}</p>
  <p>pi (1.1-2): {{pi | number:'1.1-2'}}</p>
</div>
  <hr>

<label>
  Name:
  <input type="text" [formControl]="myname">
</label>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>uppercase</td>
        <td>{{name | uppercase}}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td>lowercase</td>
        <td>{{name | lowercase}}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td>slice: 3</td>
        <td>{{name | slice:3}}</td>
      </tr>
      <tr>
        <td>{{name}}</td>
        <td>slice:0:3</td>
        <td>{{name | slice:0:3}}</td>
      </tr>
      <tr>
        <td>{{arreglo}}</td>
        <td>slice:1:5</td>
        <td>{{arreglo | slice:1:5}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number | '3.0-0'</td>
        <td>{{PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number '1.0-2'</td>
        <td>{{PI | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <td>{{a}}</td>
        <td>percent</td>
        <td>{{a | percent}}</td>
      </tr>
      <tr>
        <td>{{a}}</td>
        <td>percent:'2.2-2'</td>
        <td>{{a | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>
<!--  -->
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':CODE</td>
        <td>{{salario | currency:'EUR':'code'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':symbol (default)</td>
        <td>{{salario | currency:'EUR':'symbol'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':symbol-narrow</td>
        <td>{{salario | currency:'EUR':'symbol-narrow'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':true:'3.0-0'</td>
        <td>{{salario | currency:'EUR':'symbol':'3.0-0'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>number:'.2-2'</td>
        <td>{{salario | number:'.2-2'}}</td>
      </tr>
      <tr>
        <td>{{valorDePromesa}}</td>
        <td>async</td>
        <td>{{valorDePromesa | async}}</td>
      </tr>
      <tr>
        <td>RXJS of</td>
        <td>async</td>
        <td>{{squareOddVals | async}}</td>
      </tr>
<!--  -->
      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date:'medium'</td>
        <td>{{fecha | date:'medium'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{fecha | date:'MMMM - dd'}}</td>
      </tr>
      <tr>
        <td>{{name2}}</td>
        <td>capitalizado:true:'Arg1':'Arg2'</td>
        <td>{{name2 | capitalizado:true:'Arg1':'Arg2'}}</td>
      </tr>
      <tr>
        <td>{{name2}}</td>
        <td>capitalizado:false:'Arg11':'Arg22'</td>
        <td>{{name2 | capitalizado:false:'Arg11':'Arg22'}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>
            contraseña: {{activar}}
            <br><br>
            <button type="button"
                (click)="activar = !activar"
                class="btn btn-outline-primary">{{activar?'Desactivar':'Activar'}}</button>
        </td>
        <td>{{nombre | contrasena:activar}}</td>
      </tr>


    </tbody>
  </table>
<hr>

  <h3>Slice [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] - | slice:5:8</h3>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:8">{{item}}</li>
  </ul>
  <hr>

  <h4>JSON Pipe</h4>
    <pre>{{heroe | json}}</pre><hr>
  <hr>

  <h4>Youtube Video <small>Escobar</small></h4>
  <iframe width="560" height="315" [src]="urlVideo | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>

</div>
